QObject{
    font-family: Calibri;
}
QMainWindow {
    background-image: url(":/theme/fon.png");
    background-position: bottom left ;
    background-color: black;
    background-repeat:  no-repeat;
}

QFrame,QTabWidget {
    background-color: rgba(157,210,152,0) ;
    border-width: 0px;
    padding: -1px;
    border-style: solid;
    border-color: #447326;
}

QPushButton, QToolButton, QTabBar::tab {
    font-size: 12pt;

    background-color: qlineargradient(spread:pad, x1:0, y1:0.1, x2:0, y2:0.9, stop:0 rgba(0, 0, 0, 255), stop:1 rgba(150, 150, 150, 255));
    border-width: 4px;
    border-top-color: rgba(200, 200, 200, 150);
    border-right-color: rgba(0, 0, 0, 255);
    border-bottom-color: rgba(50, 50, 50, 255);
    border-left-color: rgba(200, 200, 200, 150);
    border-radius: 2;
    border-style: groove;

    color: white;
    padding: 2px;
    min-width: 25ex;
    min-height: 9ex;
}

QPushButton:hover, QToolButton:hover, QTabBar::tab:hover {
    background-color: qlineargradient(spread:pad, x1:0, y1:0.1, x2:0, y2:0.9, stop:0 rgba(230, 230, 230, 255), stop:1 rgba(51, 102, 0, 255));
    border-width: 3px;
    border-style: inset;
    border-top-color: rgba(230, 230, 230, 200);
    border-right-color: rgba(51, 102, 0, 255);
    border-bottom-color: rgba(101, 152, 50, 255);
    border-left-color: rgba(230, 230, 230, 200);
}

QPushButton:pressed, QToolButton:pressed, QTabBar::tab:pressed, QTabBar::tab:selected {
    background-color: qlineargradient(spread:pad, x1:0, y1:0.1, x2:0, y2:0.9, stop:0 rgba(230, 230, 230, 255), stop:1 rgba(51, 102, 0, 255));
    border-width: 3px;
    border-style: outset;
    border-bottom-color: rgba(230, 230, 230, 200);
    border-left-color: rgba(0, 0, 0, 150);
    border-top-color: rgba(0, 0, 0, 150);
    border-right-color: rgba(230, 230, 230, 200);
}

QToolButton{
    min-width: 5ex;
    min-height: 5ex;
}

QTabWidget::pane {
    background-color: rgba(157,210,152,102) ;
    border-width: 4px;
    padding: -1px;
    border-style: solid;
    border-color: #447326;
}

QLabel{
    min-height: 9ex;
    color: rgba(255,255,255,255) ;
    font-size: 12pt;
    background-color: qradialgradient(cx: 0, cy: 0.5, fx: 0.2, fy: 0.5, radius: 1,
                                        stop: 0 rgba(51, 102, 0,255), stop: 1 rgba(157,210,152,0));
}

QLineEdit{
    min-height: 9ex;
    background-color: white;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-size: 16px;
}



QTableView QHeaderView::section {
    padding: 5px;
    font-size: 14px;
    min-height: 5ex;
    min-width: 45ex;

    background:  rgba(157,210,152,255);
/*    margin-left: 50px;*/
}

QTableView {
    background: white;
    font-size: 14px;
    gridline-color: black;
    border-color: black;
    border-style: solid;
    border-width: 2px;

}

/*QTableView QHeaderView::section:horizontal {
    padding: 5px;
    border-style: none;

    border-left: 1px solid darkkhaki;
    border-radius: 2;
    border-right: 1px solid darkkhaki;
    border-width: 1px;
}
QTableView QHeaderView::section::vertical{
    padding: 5px;
    border-style: none;
    border-radius: 2;
    border-top: 1px solid darkkhaki;
    border-bottom: 1px solid darkkhaki;

}

QTableViaew {
    border-radius: 20;
    border-width: 5px;
}*/




/*QWebView {
   background-color: white;
}*/


/*QLineEdit[echoMode="2"] {
    lineedit-password-character: 9679;
}*/

/*QLabel, QAbstractButton {
    font: bold;
}*/

/* Mark mandatory fields with a brownish color. */
/*.mandatory {
    color: brown;
}*/

/* Bold text on status bar looks awful. */
/*QStatusBar QLabel {
   font: normal;
}*/

/*QStatusBar::item {
    border-width: 1;
    border-color: darkkhaki;
    border-style: solid;
    border-radius: 2;
}*/

/*QComboBox, QLineEdit, QSpinBox, QTextEdit, QListView {
    background-color: cornsilk;
    selection-color: #0a214c;
    selection-background-color: #C19A6B;
}*/

/*QListView {
    show-decoration-selected: 1;
}*/

/*QListView::item:hover {
    background-color: wheat;
}*/

/* We reserve 1 pixel space in padding. When we get the focus,
   we kill the padding and enlarge the border. This makes the items
   glow. */
/*QLineEdit{
    border-width: 2px;
    padding: 1px;
    border-style: solid;
    border-color: darkkhaki;
    border-radius: 5px;
}*/
/*QLineEdit:disabled{
    background-color: #ffe1c2;

}*/



/* As mentioned above, eliminate the padding and increase the border. */
/*QLineEdit:focus, QFrame:focus {
    border-width: 3px;
    padding: 0px;
}*/

/* A QLabel is a QFrame ... */
/*QLabel {
    border: none;
    padding: 0;
    background: none;
}*/

/* A QToolTip is a QLabel ... */
/*QToolTip {
    border: 2px solid darkkhaki;
    padding: 5px;
    border-radius: 3px;
    opacity: 200;
}*/

/* Nice to have the background color change when hovered. */
/*QRadioButton:hover, QCheckBox:hover {
    background-color: wheat;
}*/

/* Force the dialog's buttons to follow the Windows guidelines. */
/*QDialogButtonBox {
    button-layout: 0;
}*/


/*QTableView QHeaderView::section:horizontal {
    padding: 5px;
    border-style: none;

    border-left: 1px solid darkkhaki;
    border-radius: 2;
    border-right: 1px solid darkkhaki;
    border-width: 1px;
}*/
/*QTableView QHeaderView::section::vertical{
    padding: 5px;
    border-style: none;
    border-radius: 2;
    border-top: 1px solid darkkhaki;
    border-bottom: 1px solid darkkhaki;

}*/

/*QTableViaew {
    border-radius: 20;
    border-width: 5px;
}*/

/*QComboBox, QDateEdit {
    background-color: wheat;
    border-width: 2px;
    border-color: darkkhaki;
    border-style: solid;
    border-radius: 5;
    padding: 3px;
    min-width: 9ex;
    min-height: 2.5ex;
}*/
