QObject{
    font-family: Calibri;
}

QMainWindow, QDialog {
    background-image: url(":/theme/fon.png");
    background-position: bottom left ;
    background-color: black;
    background-repeat:  no-repeat;
}

QFrame {
    border-width: 0px;
    padding: 0px;
    border-style: solid;
    border-color: #447326;
}

QTabWidget {
    border-width: 3px;
    padding: -1px;
    border-style: solid;
    border-color: #447326;
}


QPushButton, QToolButton, QTabBar::tab {

    background-color: qlineargradient(spread:pad, x1:0, y1:0.1, x2:0, y2:0.9,
                                    stop:0 rgba(0, 0, 0, 255),
                                    stop:1 rgba(150, 150, 150, 255));
    border-width: 5px;
    border-top-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 rgba(154, 154, 154, 255),
                                    stop: 0.2 rgba(152, 152, 152, 255),
                                    stop: 0.4 rgba(141, 141, 142, 255),
                                    stop: 0.6 rgba(113, 113, 113, 255),
                                    stop: 0.8 rgba(55, 55, 55, 255),
                                    stop: 1 rgba(15, 15, 15, 255));
    border-left-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                                    stop: 0 rgba(200, 200, 200, 70),
                                    stop: 0.2 rgba(210, 210, 210, 70),
                                    stop: 0.4 rgba(220, 220, 220, 70),
                                    stop: 0.6 rgba(210, 210, 210, 70),
                                    stop: 0.8 rgba(195, 195, 195, 70),
                                    stop: 1 rgba(150, 150, 150, 10));

    border-bottom-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 rgba(134, 134, 134, 255),
                                    stop: 0.2 rgba(111, 111, 111, 255),
                                    stop: 0.4 rgba(59, 59, 59, 255),
                                    stop: 0.6 rgba(36, 36, 36, 255),
                                    stop: 0.8 rgba(37, 37, 37, 255),
                                    stop: 1 rgba(38, 38, 38, 255));
    border-right-color: qlineargradient(x1: 1, y1: 0, x2: 0, y2: 0,
                                    stop: 0 rgba(0, 0, 0, 200),
                                    stop: 0.2 rgba(0, 0, 0, 190),
                                    stop: 0.4 rgba(0, 0, 0, 170),
                                    stop: 0.6 rgba(0, 0, 0, 100),
                                    stop: 0.8 rgba(0, 0, 0, 50),
                                    stop: 1 rgba(0, 0, 0, 10));

    border-style: solid;

    color: white;
    padding: 2px;
    min-width: 25ex;
    min-height: 9ex;

    font-size: 16pt;
}


QToolButton[inputMethodHints="1"]{
    background-color: white;
}


QPushButton:hover, QToolButton:hover, QTabBar::tab:hover {
    background-color: qlineargradient(spread:pad, x1:0, y1:0.1, x2:0, y2:0.9,
                                        stop:0 rgba(230, 230, 230, 255),
                                        stop:1 rgba(51, 102, 0, 255));

    border-width: 5px;
    border-top-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 rgba(154, 154, 154, 255),
                                    stop: 0.2 rgba(152, 152, 152, 255),
                                    stop: 0.4 rgba(141, 141, 142, 255),
                                    stop: 0.6 rgba(113, 113, 113, 255),
                                    stop: 0.8 rgba(55, 55, 55, 255),
                                    stop: 1 rgba(15, 15, 15, 255));
    border-left-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 0,
                                    stop: 0 rgba(200, 200, 200, 70),
                                    stop: 0.2 rgba(210, 210, 210, 70),
                                    stop: 0.4 rgba(220, 220, 220, 70),
                                    stop: 0.6 rgba(210, 210, 210, 70),
                                    stop: 0.8 rgba(195, 195, 195, 70),
                                    stop: 1 rgba(150, 150, 150, 10));

    border-bottom-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                    stop: 0 rgba(134, 134, 134, 255),
                                    stop: 0.2 rgba(111, 111, 111, 255),
                                    stop: 0.4 rgba(59, 59, 59, 255),
                                    stop: 0.6 rgba(36, 36, 36, 255),
                                    stop: 0.8 rgba(37, 37, 37, 255),
                                    stop: 1 rgba(38, 38, 38, 255));
    border-right-color: qlineargradient(x1: 1, y1: 0, x2: 0, y2: 0,
                                    stop: 0 rgba(0, 0, 0, 200),
                                    stop: 0.2 rgba(0, 0, 0, 190),
                                    stop: 0.4 rgba(0, 0, 0, 170),
                                    stop: 0.6 rgba(0, 0, 0, 100),
                                    stop: 0.8 rgba(0, 0, 0, 50),
                                    stop: 1 rgba(0, 0, 0, 10));


    border-style: solid;
/*    border-top-color: rgba(230, 230, 230, 200);*/
/*    border-right-color: rgba(51, 102, 0, 255);*/
/*    border-bottom-color: rgba(101, 152, 50, 255);*/
/*    border-left-color: rgba(230, 230, 230, 200);*/

}
/*
QPushButton:pressed, QToolButton:pressed, QTabBar::tab:pressed, QTabBar::tab:selected {
    background-color: qlineargradient(spread:pad, x1:0, y1:0.1, x2:0, y2:0.9, stop:0 rgba(230, 230, 230, 255), stop:1 rgba(51, 102, 0, 255));
    border-width: 3px;
    border-style: outset;
    border-bottom-color: rgba(230, 230, 230, 200);
    border-left-color: rgba(0, 0, 0, 150);
    border-top-color: rgba(0, 0, 0, 150);
    border-right-color: rgba(230, 230, 230, 200);
}*/

QToolButton{
    min-width: 5ex;
    min-height: 5ex;
}

QTabWidget::pane {
    background-color: rgba(157,210,152,102) ;
    border-width: 4px;
    padding: -1px;
    border-style: solid;
    border-color: #447326;
}

QLabel{
    min-height: 9ex;
    color: rgba(255,255,255,255) ;
    font-size: 16pt;
    color: black;
   /* background-color: qradialgradient(cx: 0, cy: 0.5, fx: 0.2, fy: 0.5, radius: 1,
                                        stop: 0 rgba(51, 102, 0,255), stop: 1 rgba(157,210,152,0));*/
}

QLineEdit{
    min-height: 9ex;
    background-color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    font-size: 18pt;
}

QTableView QHeaderView::section {
    padding: 5px;
    font-size: 14px;
    min-height: 5ex;
    min-width: 20ex;
    background:  rgba(157,210,152,255);
}

QTableView {
    background: white;
    font-size: 14px;
    gridline-color: black;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

QComboBox, QLineEdit, QSpinBox, QTextEdit, QListView, QDateEdit {
    background-color: rgba(157,210,152,255);
    selection-background-color: rgba(51, 102, 0, 255);
    font-size: 14px;
    min-height: 9ex;
}

QGroupBox{
/*    color:  rgba(51, 102, 0, 255);*/
/*    font-size: 12px;*/
   /* border-width: 2px;
    padding: 0px;
    border-style: solid;
    border-color: #447326;*/
    background-color: rgba(157,210,152,102) ;
    border-width: 4px;
    padding: -1px;
    border-style: solid;
    border-color: #447326;
}


/* Customize arrows. */

*::down-arrow, *::menu-indicator {
    image: url(:/images/down_arrow.png);
    color:  rgba(0, 0, 0, 255);
    width: 7px;
    height: 7px;
}

*::down-arrow:disabled, *::down-arrow:off {
   image: url(:/images/down_arrow_disabled.png);
   color:  rgba(0, 0, 0, 255);
}

*::up-arrow {
    image: url(:/images/up_arrow.png);
    color:  rgba(0, 0, 0, 255);
    width: 7px;
    height: 7px;
}

*::up-arrow:disabled, *::up-arrow:off {
   image: url(:/images/up_arrow_disabled.png);
   color:  rgba(0, 0, 0, 255);
}



/*111111111111111111111111111111111111111111111111111111111111111*/

/*QTableView QHeaderView::section:horizontal {
    padding: 5px;
    border-style: none;

    border-left: 1px solid darkkhaki;
    border-radius: 2;
    border-right: 1px solid darkkhaki;
    border-width: 1px;
}
QTableView QHeaderView::section::vertical{
    padding: 5px;
    border-style: none;
    border-radius: 2;
    border-top: 1px solid darkkhaki;
    border-bottom: 1px solid darkkhaki;

}

QTableViaew {
    border-radius: 20;
    border-width: 5px;
}*/




/*QWebView {
   background-color: white;
}*/


/*QLineEdit[echoMode="2"] {
    lineedit-password-character: 9679;
}*/

/*QLabel, QAbstractButton {
    font: bold;
}*/

/* Mark mandatory fields with a brownish color. */
/*.mandatory {
    color: brown;
}*/

/* Bold text on status bar looks awful. */
/*QStatusBar QLabel {
   font: normal;
}*/

/*QStatusBar::item {
    border-width: 1;
    border-color: darkkhaki;
    border-style: solid;
    border-radius: 2;
}*/

/*QComboBox, QLineEdit, QSpinBox, QTextEdit, QListView {
    background-color: cornsilk;
    selection-color: #0a214c;
    selection-background-color: #C19A6B;
}*/

/*QListView {
    show-decoration-selected: 1;
}*/

/*QListView::item:hover {
    background-color: wheat;
}*/

/* We reserve 1 pixel space in padding. When we get the focus,
   we kill the padding and enlarge the border. This makes the items
   glow. */
/*QLineEdit{
    border-width: 2px;
    padding: 1px;
    border-style: solid;
    border-color: darkkhaki;
    border-radius: 5px;
}*/
/*QLineEdit:disabled{
    background-color: #ffe1c2;

}*/



/* As mentioned above, eliminate the padding and increase the border. */
/*QLineEdit:focus, QFrame:focus {
    border-width: 3px;
    padding: 0px;
}*/

/* A QLabel is a QFrame ... */
/*QLabel {
    border: none;
    padding: 0;
    background: none;
}*/

/* A QToolTip is a QLabel ... */
/*QToolTip {
    border: 2px solid darkkhaki;
    padding: 5px;
    border-radius: 3px;
    opacity: 200;
}*/

/* Nice to have the background color change when hovered. */
/*QRadioButton:hover, QCheckBox:hover {
    background-color: wheat;
}*/

/* Force the dialog's buttons to follow the Windows guidelines. */
/*QDialogButtonBox {
    button-layout: 0;
}*/


/*QTableView QHeaderView::section:horizontal {
    padding: 5px;
    border-style: none;

    border-left: 1px solid darkkhaki;
    border-radius: 2;
    border-right: 1px solid darkkhaki;
    border-width: 1px;
}*/
/*QTableView QHeaderView::section::vertical{
    padding: 5px;
    border-style: none;
    border-radius: 2;
    border-top: 1px solid darkkhaki;
    border-bottom: 1px solid darkkhaki;

}*/

/*QTableViaew {
    border-radius: 20;
    border-width: 5px;
}*/

/*QComboBox, QDateEdit {
    background-color: wheat;
    border-width: 2px;
    border-color: darkkhaki;
    border-style: solid;
    border-radius: 5;
    padding: 3px;
    min-width: 9ex;
    min-height: 2.5ex;
}*/
